@import '~primevue/resources/themes/saga-blue/theme.css';
@import '~primevue/resources/primevue.min.css';
@import '~primeicons/primeicons.css';
@import '~primeflex/primeflex.scss';

html {
    //font-size: 14px;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.layout-topbar {
    background-color: var(--surface-a);
    display: flex;
    .topbar-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 100%;
        margin-left: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
.p-toolbar {
    background-color: transparent;
    border: none;
    padding: 4px;
}

.p-datatable {
    border: 1px solid #eee;
}
